<html>
<body>

	<nav id="colorlib-main-nav" role="navigation">
		<a href="#" class="js-colorlib-nav-toggle colorlib-nav-toggle active"><i></i></a>
		<div class="js-fullheight colorlib-table">
			<div class="colorlib-table-cell js-fullheight">
				<div class="row">
					<div class="col-md-6 col-md-offset-3">
						<div class="form-group">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 text-center">
						<ul>
							<li><a href="index.html">Inicio</a></li>
							<li><a href="menu.html">La Carta</a></li>
							<li><a href="muralla-sede-parque.html">La Muralla Sede Parque</a></li>
							<li><a href="muralla-sede-nicolas.html">La Muralla Sede Nícolas de Piérola 1018 - Plaza San Martin</a></li>
							<li><a href="cooking-class.html">Cooking Class</a></li>
							<li><a href="buffet-criollo.html">Buffet Criollo</a></li>
							<li><a href="historia.html">Historia</a></li>
							<li><a href="reserva.html">Reservaciones</a></li>
						</ul>
						<section class="social-menu">
							<a href="https://www.facebook.com/lamurallarestaurante/" target="_blank"><i class="icon-facebook4"></i></a>
							<a href="https://www.instagram.com/lamurallarestaurante04" target="_blank"><i class="icon-instagram2"></i></a>
							<a href="https://www.tripadvisor.com.pe/Restaurant_Review-g294316-d2217202-Reviews-La_Muralla_Restaurante-Lima_Lima_Region.html" target="_blank"><i class="fab fa-tripadvisor" aria-hidden="true"></i></a>
						</section>
					</div>
				</div>
			</div>
		</div>
	</nav>

	<div id="colorlib-page">
		<header>
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="colorlib-navbar-brand">
							<a class="logo" href="index.html"><img src="images/logolamuralla.png" /></a>
						</div>
						<a href="#" class="js-colorlib-nav-toggle colorlib-nav-toggle icomenu-reserva"><i></i></a>
					</div>
				</div>
			</div>
		</header>


		<div id="colorlib-contact" class=" slider-sede">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-md-offset-3 text-center animate-box intro-heading">
						<h2>Buffet Criollo</h2>
						<h4>Todos los jueves y viernes dese las 12 30pm, <br><strong>solo en la sede la muralla parque</strong></h4>
					</div>
				</div>
				<div>
					<div class="owl-carousel owl-theme slider-sede-item">
						<div class="item"><img src="images/buffetCriollo/slider-large/img1.jpeg" alt=""></div>
						<div class="item"><img src="images/buffetCriollo/slider-large/img2.jpeg" alt=""></div>
						<div class="item"><img src="images/buffetCriollo/slider-large/img3.jpeg" alt=""></div>
					  <div class="item"><img src="images/buffetCriollo/slider-large/img4.jpeg" alt=""></div>
					</div>
				</div>
			</div>
		</div>
		<section class="sede-section">
			<div class="container">
				<h2 class="text-center">Realiza tu reservación</h2>
			</div>
		</section>
		<div class="colorlib-reservation reservation-img section-sede-form" style="background-image: url(images/salon2lamuralla.jpg);" data-stellar-background-ratio="0.5">
			<div class="overlay"></div>
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-md-offset-0">
						<div class="row">
							<div class="col-md-4 animate-box">
								<h3>Dirección</h3>
								<ul class="contact-info">
									</ul>
							</div>
							<div class="col-md-7 col-md-push-1 animate-box">
								<form method="post" class="colorlib-form form-reserva" id="reserva">
				           <div class="row">
										<div class="col-md-6 animate-box">
											<div class="form-group">
												<label for="name">Nombre</label>
												<div class="form-field">
													<input type="text" class="form-control"  id="name" name="name" placeholder="Nombre">
												</div>
											</div>
										</div>
										<div class="col-md-6 animate-box">
											<div class="form-group">
												<label for="lastname">Apellidos</label>
												<div class="form-field">
													<input type="text" class="form-control" id="lastname" name="lastname" placeholder="Apellidos">
												</div>
											</div>
										</div>
										<div class="col-md-6 animate-box">
											<div class="form-group">
												<label for="email">Email</label>
												<div class="form-field">
													<input type="text" class="form-control" id="email" placeholder="email" name="email">
												</div>
											</div>
										</div>
										<div class="col-md-6 animate-box">
											<div class="form-group">
												<label for="phone">Teléfono</label>
												<div class="form-field">
													<input type="text" class="form-control" id="phone" name="phone"  placeholder="Teléfono">
												</div>
											</div>
										</div>
										<div class="col-md-6 animate-box">
											<div class="form-group">
												<label for="place">Sede</label>
												<div class="form-field">
													<i class="icon icon-arrow-down3"></i>
													<select name="sede" id="place" class="form-control" name="place" disabled>
														<option value="La Muralla - Sede Parque" selected>La Muralla - Sede Parque</option>

													</select>
												</div>
											</div>
										</div>
										<div class="col-md-6 animate-box">
											<div class="form-group">
												<label for="person">Reservación de cuantas personas</label>
												<div class="form-field">
													<i class="icon icon-arrow-down3"></i>
													<select name="people" id="people" class="form-control">
														<option value="1">1</option>
														<option value="2">2</option>
														<option value="3">3</option>
														<option value="4">4</option>
														<option value="5+">5+</option>
													</select>
												</div>
											</div>
										</div>
										<div class="col-md-6 animate-box">
											<div class="form-group">
												<label for="date">Fecha</label>
												<div class="form-field">
													<i class="icon icon-calendar2"></i>
													<input type="text" id="date" class="form-control date" name="date" placeholder="Fecha">
												</div>
											</div>
										</div>
										<div class="col-md-6 animate-box">
											<div class="form-group">
												<label for="time">Hora</label>
												<div class="form-field">
													<i class="icon icon-arrow-down3"></i>
													<select name="time" id="time" class="form-control">
														<option value="6:30am">6:30am</option>
														<option value="7:00am">7:00am</option>
														<option value="7:30am">7:30am</option>
														<option value="8:00am">8:00am</option>
														<option value="8:30am">8:30am</option>
														<option value="9:00am">9:00am</option>
														<option value="9:30am">9:30am</option>
														<option value="10:00am">10:00am</option>
														<option value="10:30am">10:30am</option>
														<option value="11:00am">11:00am</option>
														<option value="11:30am">11:30am</option>
														<option value="12:00am">12:00am</option>
														<option value="12:30am">12:30am</option>
														<option value="1:00pm">1:00pm</option>
														<option value="1:30pm">1:30pm</option>
														<option value="2:00pm">2:00pm</option>
														<option value="2:30pm">2:30pm</option>
														<option value="3:00pm">3:00pm</option>
														<option value="3:30pm">3:30pm</option>
														<option value="4:00pm">4:00pm</option>
														<option value="4:30pm">4:30pm</option>
														<option value="5:00pm">5:00pm</option>
														<option value="5:30pm">5:30pm</option>
														<option value="6:00pm">6:00pm</option>
														<option value="6:30pm">6:30pm</option>
														<option value="7:00pm">7:00pm</option>
														<option value="7:30pm">7:30pm</option>
														<option value="8:00pm">8:00pm</option>
														<option value="8:30pm">8:30pm</option>
														<option value="9:00pm">9:00pm</option>
														<option value="9:30pm">9:30pm</option>
														<option value="10:00pm">10:00pm</option>
														<option value="10:30pm">10:30pm</option>
													</select>
												</div>
											</div>
										</div>

										<div class="col-md-12 animate-box">
											<div class="row">
												<div class="col-md-4 col-md-offset-4">
													<button  name="submit" id="submit"  class="btn btn-primary btn-block btn-reservar">Reservar</button>
												</div>
											</div>
										</div>
									</div>
				        </form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		</body>
		</html>