@{
    ViewData["Title"] = "La Carta";
}
<div class="col-md-12 animate-box">
						<div class="row">
							<div class="col-md-12 text-center">
								<ul class="nav nav-tabs text-center  menu-carta" role="tablist">
									<li role="presentation" class="active"><a href="#entradascriollas" aria-controls="entradascriollas" role="tab" data-toggle="tab">Entradas Criollas</a></li>
									<li role="presentation"><a href="#entradasmarinas" aria-controls="entradasmarinas" role="tab" data-toggle="tab">Entradas Marinas</a></li>
									<li role="presentation"><a href="#parapicar" aria-controls="parapicar" role="tab" data-toggle="tab">Para Picar</a></li>
									<li role="presentation"><a href="#cebichesytiraditos" aria-controls="cebichesytiraditos" role="tab" data-toggle="tab">Cebiches y tiraditos</a></li>
									<li role="presentation"><a href="#chicharrones" aria-controls="chicharrones" role="tab" data-toggle="tab">Chicharrones</a></li>
									<li role="presentation"><a href="#chupessudados" aria-controls="chupessudados" role="tab" data-toggle="tab">Chupes, Sudaos y Parihuelas</a></li>
									<li role="presentation"><a href="#fondoscriollos" aria-controls="fondoscriollos" role="tab" data-toggle="tab">Fondos Criollos</a></li>
									<li role="presentation"><a href="#arrocesmarinos" aria-controls="arrocesmarinos" role="tab" data-toggle="tab">Arroces Marinos</a></li>
									<li role="presentation"><a href="#chitaentera" aria-controls="chitaentera" role="tab" data-toggle="tab">Chita Entera "El mejor pescado de peña"</a></li>
									<li role="presentation"><a href="#filetesmarinos" aria-controls="filetesmarinos" role="tab" data-toggle="tab">Filetes Marinos</a></li>
									<li role="presentation"><a href="#mero" aria-controls="mero" role="tab" data-toggle="tab">Mero "El mas sabroso del mar peruano"</a></li>
									<li role="presentation"><a href="#bebidas" aria-controls="bebidas" role="tab" data-toggle="tab">Bebidas</a></li>
								</ul>
							</div>
						</div>